#set($metadata="metadata")

<section id="main">
	<aside id="leftarea">
		<div class="tabnav">
			<ul>
				<li class="tabnav_li_current"><a href="/configdata/list">集群配置</a></li>
				<li><a href="/jarrepo/list">jar管理</a></li>
				<li><a href="/configdata/encodepass">密码生成</a></li>
			</ul>
		</div>
	</aside>
	<aside id="rightarea">
		<div style="min-height:10px;height:auto;margin:10px">
			集群配置 >> <a href="/configdata/list">配置列表</a>
		</div>
		<div style="min-height:500px; height:auto;">
			<table id="hor-minimalist-b">
    			<thead>
    				<tr>
        				<th scope="col">client ip</th>
            			<th scope="col">version</th>
            			<th scope="col">create time</th>
            			<th scope="col">modify time</th>
        			</tr>
    			</thead>
    			<tbody>
    				#foreach ($i in $records)
    				<tr>
    					<td>$i.get("client_ip")</td>
        				<td>$i.get("version")</td>
            			<td>$date.format('yyyy-MM-dd HH:mm:ss', $i.get("gm_create"))</td>
            			<td>$date.format('yyyy-MM-dd HH:mm:ss', $i.get("gm_modify"))</td>
        			</tr>
    				#end
    			</tbody>
			</table>
		</div>
		
	</aside>
</section>
