#set($metadata="metadata")

<section id="main">
	<aside id="leftarea">
		<div class="tabnav">
			<ul>
				<li><a href="/configdata/list">集群配置</a></li>
				<li><a href="/jarrepo/list">jar管理</a></li>
				<li class="tabnav_li_current"><a href="/configdata/encodepass">密码生成</a></li>
			</ul>
		</div>
	</aside>
	<aside id="rightarea">
		<div style="min-height:10px;height:auto;margin:10px">
			密码生成 >> 密码生成
		</div>
		<div style="min-height:500px; height:auto;">
			<form action="/configdata/encodepass" method="post">
			<table id="hor-minimalist-b">
    			<tbody>
    				<tr>
    					<td>密码</td>
        				<td><input type="text" name="pass" size="50"></td>
        			</tr>	
        			<tr>
    					<td><input type="submit" name="submit" /></td>
        				<td><input type="reset" name="reset" /></td>
        			</tr>	
        			<tr>
        				<td colspan="2">$!password</td>
        			</tr>
    			</tbody>
			</table>
			</form>
		</div>
	</aside>
</section>
