body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding: 0;}
body,button,input,select,textarea{font:12px/1.5 "宋体",arial,tahoma,\5b8b\4f53,sans-serif;}
body {background-color:#fff;color:#444;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul{margin:0;padding:0;list-style:none;line-height:22px;}
img{border:0;margin:0;padding:0;}
*{outline:none;}
a{text-decoration:none;color:#0066cc;}
a:hover{text-decoration:underline;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear{clear:both;height:0;font-size:0;line-height:0;overflow:hidden;margin:0;padding:0;}
.ov{overflow:hidden;}
.none {display:none;}
.center {text-align:center;}
.tr {text-align:right;}
.clear {clear:both;height:0;overflow:hidden;font-size:0;}
.relative {position:relative;}
.absolute {position:absolute;}
table{border-collapse:collapse;border-spacing:0;padding:0;}
label{vertical-align:middle;}
input{vertical-align:middle;}
select{vertical-align:middle;}
.ar {text-align:right;}
.clearbox:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
*html .clearbox{height:1%;}
*+html .clearbox{height:1%;}

#header {height:52px;}
#logo {float:left;_display:inline;margin-left:6px;margin-top:6px;width:219px;height:40px;border:0;background:url(/images/bg.png) no-repeat 14px -3px;}
#logo a {display:block;width:219px;height:40px;text-indent:-999px;overflow:hidden;}
#mid_nav {height:40px;margin-left:230px;border-bottom:1px solid #d1d1d1;padding-left:30px;position:relative;color:#ccc;font-family:tahoma,arial;}
#mid_nav a {color:#3366cc;}
#mid_nav>ul>li{display:inline-block;position:relative;height:40px;line-height:40px;font-size:12px;}
#mid_nav>ul>li:hover ul {display:block;}
#mid_nav>ul>li>a {padding:0 20px;position:relative;z-index:13;}
#mid_nav>ul>li>ul a.current {color:#e47911;}
#mid_nav>ul>li ul {display:none;position:absolute;border-style:solid;border-width:0 1px 1px;border-color:#D1D1D1;z-index:12;top:40px;left:-7px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-image:-moz-linear-gradient(top, #fff, #ddd); /* Firefox */background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd)); /* Saf4+, Chrome */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ddd', GradientType='0'); /* IE*/
}
#mid_nav>ul>li ul a {display:block;color:#333;padding:0 5px;white-space:nowrap;}
#mid_nav span {position:absolute;height:10px;width:221px;left:50%;margin-left:-111px;top:40px;background:url(/images/bg.png) no-repeat 0 -71px;z-index:10;margin-left:-113px;}
#mid_nav span.list {height:auto;width:auto;background:none;}
#mid_nav span.list a {display:inline-block;}
#mid_nav .j {position:absolute;height:1px;width:100px;overflow:hidden;font-size:0;background:url(/images/bg.png) no-repeat -20px -68px;left:0;top:40px;margin:0;}
#mid_nav a span.dob11 {height:14px;line-height:14px;width:50px;right:-16px;left:auto;top:0;margin:0;background:#cf0000;color:#fff;text-align:center;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
#user {position:absolute;right:5px;height:40px;top:0;line-height:20px;}
#user p {font-weight:bolder;}
#user .more {float:right;cursor:pointer;padding-right:25px;background:url(/images/bg.png) no-repeat 53px -427px;position:relative;}
#user .more ul {display:none;width:100px;position:absolute;z-index:100;right:10px;top:20px;border:1px solid #A5A5A5;border-bottom:0;}
#user .more ul li {border-bottom:1px solid #A5A5A5;background:#FFF0B5;padding:0 5px;height:20px;line-height:20px;}
#user .more:hover ul {display:block;}
#USER_NAME {color:#e47911;}
li#jqslt {width:230px;background:url(/images/bg.png) no-repeat 200px -32px;cursor:pointer;}
#jqslt ul {width:228px;border-width:0 1px 1px;border-style:solid;border-color:#7e7e7e;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background:#fff;position:relative;z-index:10;overflow:hidden;}
#jqslt ul li {height:22px;float:none;line-height:22px;border-bottom:1px dashed #7e7e7e;}
#jqslt ul li.last {border:none;}
#jqslt ul li a {text-shadow:none;color:#444;}
#jqslt ul li a:hover {background:#F0F0F0;}
#jqslt ul li.current,#jqslt ul li.current a:hover {background:#ddd;}

#leftarea {width:210px;min-height:550px;float:left;margin-left:10px;}
#leftarea .box_3 {padding:10px;}
#leftarea .box_1 h3 {height:26px;line-height:26px;padding:10px 10px 0 10px;}
#leftarea .box_3 .msctn {height:28px;}
#leftarea .box_3 .msctn span {float:left;height:28px;width:30px;margin-right:3px;background:url(/images/bg.png) -74px -88px no-repeat;}
#leftarea .box_1 .hjxz {height:32px;}
#leftarea .box_1 .hjxz span {float:left;height:30px;width:30px;background:url(/images/bg.png) no-repeat -38px -86px;} 
#leftarea .box_1 .help {background:url(/images/bg.png) 0 -162px no-repeat;}
#leftarea .box_2 {border:1px solid #50b2ff;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;overflow:hidden;}
#leftarea .box_2 h3 {background:#eaf3fe;border-bottom:1px solid #50b2ff;height:25px;line-height:25px;font-weight:normal;}
#leftarea .box_2 h3.help span {float:left;width:20px;height:25px;background:url(/images/bg.png) no-repeat -3px -162px;margin:0 3px;}
#leftarea .hp_list {margin-left:30px;}
.tab {height:40px;}
.tab li {float:left;text-align:center;border-width:1px 1px 0;border-style:solid;border-color: #2f3842;height:37px;line-height:37px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;-webkit-border-top-right-radius:5px;margin-top:2px;background:#f1f1f1;cursor:pointer;border-top-right-radius:5px;border-top-left-radius:5px;}
.tab li a {display:block;color:#333;position:relative;}
.tab li.current {background:#2f3842;height:39px;margin-top:0;line-height:39px;color:#fff;}
.tab li.w110 {width:110px;}
.tab li.w95 {width:95px;}
.tab li.ml1 {margin-right:1px;}
.l_menu {border-top:3px solid #2f3842;margin-bottom:20px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-right-radius:5px;-webkit-box-shadow:0px 3px 12px #888;-moz-box-shadow:0px 3px 12px #888;border-bottom-right-radius:5px;border-bottom-left-radius:5px;box-shadow:0px 3px 12px #888;}
.menu ul {display:none;position:absolute;left:130px;top:0px;z-index:10;width:170px;border:1px solid #a5a5a5;background:#fff0b5;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;-webkit-box-shadow:3px 3px 3px #ccc;-moz-box-shadow:3px 3px 3px #ccc;border-radius:5px;border-top-left-radius:0px;box-shadow:3px 3px 3px #ccc;}
.menu ul li {height:28px;line-height:28px;background:url(/images/bg.png) 16px -489px;}
.menu ul li a {color:#004b91;padding-left:38px;height:28px;display:block;cursor:pointer;font-family:tahoma,arial,"宋体";}
.menu>li.current ul {display:block;}
.menu>li {height:40px;position:relative;cursor:default;}
.menu>li>div {padding-left:16px;border:1px solid #edf7ff;position:relative;background:#edf7ff url(/images/bg.png) 186px -484px;border-top:1px solid #146eb4;}
.menu>li.current>div {border:1px solid #a5a5a5;border-right:1px solid #fff0b5;overflow:hidden;background:#fff0b5;width:113px;z-index:11;}
.menu>li h4 {height:20px;line-height:20px;padding-top:2px;overflow:hidden;white-space:nowrap;}
.menu>li h4.current {color:#e47911;}
.menu>li h4.current span {padding-left:6px;color: #3366CC;font-family: tahoma,arial,"宋体";font-weight: normal;}
.menu>li p {height:16px;line-height:16px;font-family:tahoma,arial;color:#999;}
.l_menu .hr1 {border:0;border-top:1px solid #146eb4;}
.l_menu .hr2 {border:0;border-top:3px solid #2f3842;}
.l_menu .other_monitor {padding:4px 0 4px 27px;}
#EDHJ {float:right;width:34px;height:32px;margin-top:-2px;font-size:0;background:url(/images/bg.png) no-repeat -188px -86px;cursor:pointer;}

#rightarea {margin:0 0 0 227px;padding:2px 0 7px;}
#right_iframe {margin:0 0 0 0px;border:0;float:left;}
#footer {height:40px;border-top:1px solid #b0b0b0;line-height:40px;text-align:center;-moz-box-shadow:0px 5px 5px #e4e4e4 inset;-webkit-box-shadow:0px 5px 5px #e4e4e4 inset;box-shadow:0px 5px 5px #e4e4e4 inset;}
.charts {margin:0 1px;min-height:300px;}
.charts_area {float:left;_display:inline;width:50%;min-height:20px;}
.charts_box {margin:0 7px 14px;border:1px solid #ddd;position:relative;zoom:1;background:#fff;}
#temp_box {border:2px solid #59b83d;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;height:40px;line-height:40px;margin: 0 7px 14px;background:#e4fbeb;text-align:center;font-weight:bolder;color:#59b83d;}
.charts_box h4 {height:26px;line-height:26px;background:#F0F0F0;border-bottom:1px solid #ddd;text-indent:10px;font-size:14px;font-weight:normal;color:#005C9C;text-shadow: 0 1px #FFFFFF;}
.Statements .charts_box h4 {cursor:move;}
#right {margin:0 7px 0 237px;padding:14px 0 7px;}
.charts_box p {line-height:26px;padding:0 10px;display:inline-block;font-family:tahoma,arial;}
.charts_box p table {margin-bottom:8px;}
.charts_box p td {padding-right:16px;color:#000;}
.charts_box p td.red {color:#c00;}
.charts_box p .b {font-weight:bolder;}
.charts_box p.loading {display:block;width:120px;padding-top:100px;margin:0 auto;text-align:center;}
.charts_box p.loading img {display:block;margin:0 auto;}
.data_list {display:inline-block;}
.charts_box p.mean {display:none;float:right;text-align:right;}
.charts_box p.mean .red {color:#c00;}
.mean span.point {border: 5px solid #00A8F0;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;display: inline-block;height: 0;width: 0;font-size:0;vertical-align:middle;margin-right:8px;}
.mean span.val {width:auto;height:auto;font-size:12px;border:0;font-family:tahoma,arial;}

.table_box {border:0;}
.table_box h4 {border:1px solid #ddd;}
.table_box .charts {margin:0;}
.table_box table {margin-top:-1px;width:100%;}
.table_box table th,.table_box table td {height:30px;border:1px solid #ddd;}
.table_box table td {padding:0 5px;}
.table_box .history_table {text-align:center;}
.table_box .hj_tit {width:100px;}
.table_box .red {color:#c00;font-weight:bolder;}

.charts_box .edit {position:absolute;height:26px;width:80px;right:0;top:0;margin:-1px -1px 0 0;border:1px solid #bbb;background:#ddd;}
.charts_box.table_box .edit {margin:0;}
.charts_box .edit span {display:block;height:26px;width:80px;line-height:26px;text-indent:10px;background:url(/images/bg.png) no-repeat 63px -295px;cursor:pointer;}
.charts_box .edit ul {display:none;position:absolute;top:25px;right:-1px;background:#FFF0B5;border-width:1px 1px 0;border-style:solid;border-color:#A5A5A5;z-index:10;}
.charts_box .edit ul li {height:18px;line-height:18px;padding:0 10px 0 5px;min-width:65px;white-space:nowrap;text-align:right;border-bottom:1px solid #999;}
.charts_box .edit ul li a {display:block;cursor:pointer;}
.charts_box .edit:hover {background:#fff0b5;border:1px solid #999;}
.charts_box .edit:hover ul {display:inline-block;}
.highcharts-axis {position:absolute;}
.ms_tree a {color:#444;}
.ms_tree button {border:0;height:18px;width:18px;vertical-align:middle;}
.ms_tree button.mid_add {background:url(/images/bg.png) no-repeat -11px -217px;cursor:pointer;}
.ms_tree button.first_add {background:url(/images/bg.png) no-repeat -11px -199px;cursor:pointer;}
.ms_tree button.last_add {background:url(/images/bg.png) no-repeat -11px -235px;cursor:pointer;}
.ms_tree button.line {background:url(/images/bg.png) no-repeat 7px -217px;}
.ms_tree button.first_line {background:url(/images/bg.png) no-repeat 7px -217px;}
.ms_tree button.last_line {background:url(/images/bg.png) no-repeat 7px -235px;}
.ms_tree li {line-height:14px;}
.ms_tree ul {padding-left:18px;background:url(/images/line_conn.gif) repeat-y;display:none;}
.ms_tree li.current>ul {display:block;}
.ms_tree li.current>.first_add {background:url(/images/bg.png) no-repeat -29px -199px;}
.ms_tree li.current>.mid_add {background:url(/images/bg.png) no-repeat -29px -217px;}
.ms_tree li.current>.last_add {background:url(/images/bg.png) no-repeat -29px -235px;}
.ms_tree ul.last_ul {background:none;}
.ms_tree a {display:inline-block;height:16px;line-height:15px;padding:1px 1px 1px 21px;vertical-align:middle;background:url(/images/bg.png) no-repeat -46px -230px;overflow:hidden;white-space:nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.ms_tree a.folder {padding:1px 1px 1px 21px;background:url(/images/bg.png) no-repeat -46px -198px;overflow:hidden;}
.ms_tree a.current {border: 1px solid #FFB951;padding:0 4px 0 20px;background:#FFE6B0 url(/images/bg.png) no-repeat -47px -231px;}
.ms_tree li.current>a.folder {background:url(/images/bg.png) no-repeat -46px -214px;overflow:hidden;}
.ms_tree a.current.folder {border: 1px solid #FFB951;padding:0 4px 0 20px;background:#FFE6B0 url(/images/bg.png) no-repeat -47px -199px;}
.ms_tree li.current>a.current.folder {border: 1px solid #FFB951;padding:0 4px 0 20px;background:#FFE6B0 url(/images/bg.png) no-repeat -47px -215px;}
.ms_tree li a{width:145px;}
.ms_tree li li a{width:125px;}
.ms_tree li li li a{width:95px;}
.ms_tree li li li li a{width:75px;}
#DATE_MSG {font-family:tahoma,arial;font-size:12px;}
.tit_box {height:28px;padding:0 10px;font-family:tahoma,arial;}
.tit_box h2 span {color:#999;font-weight:normal;}
.select_box {position:relative;height:21px;line-height:21px;margin:-21px 0 0 10px;border:1px solid #ccc;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;}
.tit_box .add_new_charts {margin:-19px 0 0 10px;}
.select_box .up {float:right;width:18px;height:21px;background:url(/images/bg.png) no-repeat 4px -324px;}
.select_box.current .up {float:right;width:18px;height:21px;background:url(/images/bg.png) no-repeat 4px -351px;}
.tit_box .date {position:relative;background:#fff url(/images/bg.png) no-repeat 4px -399px;padding:0 2px 0 22px;z-index:8;width:268px;cursor:pointer;}
.tit_box .sever {position:relative;background:#fff url(/images/bg.png) no-repeat 5px -374px;padding:0 2px 0 22px;z-index:8;cursor:pointer;}
.select_box .hid {display:none;position:absolute;border:1px solid #ccc;padding:8px 5px;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius-topright:0px;border-top-right-radius:0px;-webkit-border-top-right-radius:0px;z-index:9;background:#fff;top:20px;right:-1px;-webkit-box-shadow:2px 2px 3px #999;-moz-box-shadow:2px 2px 3px #999;box-shadow:2px 2px 3px #999;}
.tit_box .ser_lit {margin-bottom:6px;width:536px;}
.tit_box .ser_lit li {float:left;_display:inline;width:150px;padding:0 10px;border:1px solid #ccc;margin:1px 3px;height:18px;line-height:18px;overflow:hidden;cursor:default;background:#f8f8f8;}
.tit_box .ser_lit li.hover {border:1px solid #53a9ff;background:#53a9ff;color:#fff;}
.tit_box .ser_lit li.current {border:1px solid #53a9ff;background:#53a9ff;color:#fff;}
.tit_box .ser_lit_after li {width:auto;min-width:106px;overflow:visible;}
.tit_box .sever .hid {left:-181px;top:21px;}
.tit_box .current {border-bottom:0;}
.select_box.current .hid {display:block;}
.select_box.current .sever , .select_box.current .date {z-index:10;}

.btn_1 {border:0;width:53px;height:23px;cursor:pointer;font-size:0;overflow:hidden;line-height:99px;background:url(/images/bg.png) no-repeat -32px -296px;}
.btn_1:hover {background:url(/images/bg.png) no-repeat -91px -296px;}
.btn_2 {display:block;width:53px;height:23px;text-align:center;color:#747474;line-height:23px;cursor:pointer;}
.btn_2:hover {background:url(/images/bg.png) no-repeat -32px -324px;text-decoration:none;}
.dtime_box {width:310px;margin-bottom:8px;}
.tit_box .hid .btn_1 {margin-right:10px;}
.tit_box .hid .btn_2 {margin-right:20px;}
.tit_box .hid span.fl {margin-left:8px;color:#444;line-height:22px;}
.tit_box .hid select.fl {margin-left:8px;margin-top:2px;}
.select_box .dtime {margin:0 6px;}
.dtime {height:18px;width:125px;padding:0 10px 0 3px;line-height:18px;border:1px solid #a2a2a2;background:url(/images/bg.png) no-repeat 122px -401px;cursor:default;}
.msg_list {font-family:tahoma,arial;}
.msg_list h3 {margin:10px 0 10px 10px;}
.msg_list h4 {margin:10px 0 10px 30px;}
.msg_list h5 {margin:10px 0 10px 40px;}
.msg_list p {text-indent:25px;}
.msg_list p,.msg_list img {margin-left:50px;}
.msg_list hr {margin:10px 0;border-style: dashed none none;}
.msg_list table {margin-left:50px;border-collapse:collapse;border-spacing:1px;}
.msg_list table td {border:solid 1px #add9c0;}
#selectable_helper {position:absolute;z-index:100;border:1px dotted black;height:0;width:0;cursor:default;}
#unbind {position:absolute;z-index:10001;background:#fff;width:100%;height:100%;top:0;left:0;filter: Alpha(opacity=0);-moz-opacity:.0;opacity:0.0;cursor:default;-moz-user-select:-moz-none;}

.shadow {position:absolute;top:0;left:0;width:100%;height:100%;background:#000;filter: Alpha(opacity=40);-moz-opacity:.4;opacity:0.4;z-index:1000;}
.lightbox {position:fixed;left:50%;background:#fff;z-index:1001;}
.ZB_mean {border:1px solid #ccc;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;}
.ZB_mean h3 {height:26px;line-height:26px;border-bottom:2px solid #c00;padding:0 10px;}
.ZB_mean .chose_list {margin:10px;}
.ZB_mean .chose_list li {cursor:pointer;height:22px;line-height:22px;padding-left:22px;border-bottom:1px dotted #8f8f8f;background:url(/images/bg.png) no-repeat -4px -655px;}
.ZB_mean .chose_list li:hover {text-decoration:underline;color:#00c;}
.ZB_mean .mean_list {padding:10px;}
.ZB_mean .mean_list p {line-height:20px;}
.ZB_mean p span {font-weight:bolder;padding-right:5px;}
.ZB_mean p span.not_note {color:#c00;font-weight:normal;}
.ZB_mean p span.note {color:#00a8f0;font-weight:bolder;}
.ZB_mean a.close {position:absolute;width:20px;height:20px;right:2px;top:3px;background:url(/images/login.png) no-repeat -3px -45px;}

.edit_HJ {border:1px solid #ccc;-moz-border-radius:5px;border-radius:5px;border-top-left-radius:0px;-webkit-border-radius:5px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;font-family: tahoma,arial,"宋体";}
.edit_HJ a.close {position:absolute;width:20px;height:20px;right:2px;top:3px;background:url(/images/login.png) no-repeat -3px -45px;}
.edit_HJ .tab_h {position:absolute;width:130px;left:-132px;top:-1px;border:1px solid #ccc;-moz-border-radius-bottomleft:5px;-moz-border-radius-topleft:5px;
-webkit-border-bottom-left-radius:5px;-webkit-border-top-left-radius:5px;background:#fff;overflow:hidden;border-bottom-left-radius:5px;border-top-left-radius:5px;}
.edit_HJ .tab_h li {height:44px;overflow:hidden;padding-left:5px;border-bottom:1px solid #ccc;cursor:pointer;background:#f1f1f1;position:relative;}
.edit_HJ .tab_h li.current {background:#fff;}
.edit_HJ .tab_h li.current h5 {color:#E47911;}
.edit_HJ .tab_h li h5 {height:22px;line-height:22px;color:#333;font-weight:bolder;padding-top:3px;}
.edit_HJ .tab_h li p {height:18px;line-height:18px;color:#999;}
.edit_HJ .edit_page {margin-top:2px;overflow-y:auto;overflow-x:hidden;}
.edit_HJ .edit_page .title {padding-left:10px;}
.edit_HJ .edit_page .title p {color:#999;display:inline;}
.edit_HJ .edit_page .title span {display:inline-block;margin-left:20px;color:#36c;font-weight:bolder;}
.edit_HJ .edit_page table {width:100%;border-color:red;}
.edit_HJ .edit_page th {height:26px;line-height:26px;color:#fff;background:#444;border-left:1px solid #fff;}
.edit_HJ .edit_page th:first-of-type,.edit_HJ .edit_page td:first-of-type {border-left:0;}
.edit_HJ .edit_page td.show_hide {width:40px;background:url(/images/bg.png) no-repeat 17px -424px;cursor:pointer;}
.edit_HJ .edit_page td.left {text-align:left;}
.edit_HJ .edit_page td {padding:0 4px;height:26px;line-height:26px;color:#333;vertical-align:top;text-align:center;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
.edit_HJ .edit_page td textarea {width:100%;height:200px;resize:none;}
.edit_HJ .edit_page tr.show td {text-align:left;}
.edit_HJ input[type=button] {margin-top:100px;margin-left:30px;}
.edit_HJ input.edit_ipt {border: 1px solid #A2A2A2;height: 18px;line-height: 18px;padding:0 5px;margin-top:3px;font-family: tahoma,arial,"宋体";}
.edit_HJ input.edit2_ipt {border: 1px solid #A2A2A2;height: 16px;line-height: 16px;padding:0 5px;margin-top:0px;font-family: tahoma,arial,"宋体";}
.edit_HJ td select {margin-top:3px;}
.edit_HJ .tab_h .add_jf {display:block;height:44px;width:130px;background:url(/images/add.png) no-repeat 0 -50px;cursor:pointer;}
.edit_HJ .tab_h .add_jf:hover {background-position:0 2px;}
.edit_HJ .edit_page .title .btn_1 {margin-top:10px;}
.edit_HJ .edit_page .ADD_HJ {display:block;width:100px;height:37px;background:url(/images/add.png) no-repeat 0 -134px;cursor:pointer;font-size:0;}
.edit_HJ .edit_page .ADD_HJ:hover {background:url(/images/add.png) no-repeat 0 -100px;}
.edit_HJ .edit_page .del {cursor:pointer;}
.edit_HJ .tab_h li .DEL_JF {display:none;position:absolute;right:0px;top:0px;width:14px;height:14px;border:1px solid #999;background:#fff url(/images/login.png) no-repeat -6px -48px;-moz-border-radius:7px;border-radius:7px;-webkit-border-radius:7px;overflow:hidden;}
.edit_HJ .tab_h li:hover .DEL_JF {display:block;}

.select_box.current .hid h5 {display:inline-block;vertical-align:middle;font-size:0;width:110px;height:20px;background:url(/images/bg.png) no-repeat 0 -529px;}
/*------on-off--------*/
#SEL_ONOFF {display:inline-block;}
#SEL_ONOFF label {cursor:pointer;display:inline-block;width:87px;height:37px;overflow:hidden;}
#SEL_ONOFF label,#SEL_ONOFF input[type="checkbox"] + label::before {vertical-align: middle;}
#SEL_ONOFF input[type="checkbox"] {
	border: 0 none !important;
	clip: rect(1px,1px,1px,1px);
	height: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
}
#SEL_ONOFF input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width:87px;
  height:37px;
  line-height:37px;
  overflow:hidden;
  font-size:0;
  margin: 0 8px 0 0;
  background: url(/images/bg.png) no-repeat 0 -565px;
  vertical-align: middle;
}
/* disabled checkbox*/
#SEL_ONOFF input[type="checkbox"]:disabled + label{
    opacity: .5;
    cursor: default; /* or cursor: no-drop */
}
/* hover checkbox (unselected state only) */
#SEL_ONOFF input[type="checkbox"]:not(:checked):hover + label::before{
    background-position: 0px -565px;
}
#SEL_ONOFF input[type="checkbox"]:checked:hover + label::before{
    background-position: 0px -609px;
}
/* selected checkbox */
#SEL_ONOFF input[type="checkbox"]:checked + label::before{
    background-position: 0px -609px;
}
#ADD_statements {display:inline-block;margin:0 0 0 10px;height:26px;line-height:26px;cursor:pointer;}
#ADD_statements span {display:inline-block;width:20px;height:20px;background:url(/images/add.png) no-repeat -7px -144px;vertical-align: middle;}
.charts_box .fluctuation {position:absolute;bottom:84px;right:10px;height:22px;line-height:22px;border:1px solid #999;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;background:#fff;}
#EDIT_statements {display:block;margin:0 0 0 10px;height:26px;line-height:26px;cursor:pointer;}
#EDIT_statements span {display:inline-block;width:20px;height:17px;background:url(/images/bg.png) no-repeat -46px -247px;vertical-align: middle;}
.notice {text-align:right;font-weight:bolder;color:#c00;padding:0 10px;}
#edit_stat_form input[name='title'] {width:170px;border:1px solid #ccc;height:20px;line-height:20px;padding:0 10px;}
#edit_stat_form input[name='sort'] {width:20px;border:1px solid #ccc;height:20px;line-height:20px;padding:0 10px;text-align:center;margin:0 4px;}
#edit_stat_form table {width:100%;}
#edit_stat_form table td {padding-bottom:6px;}

.tab li .new {position:absolute;width:26px;height:18px;line-height:18px;margin-top:-8px;margin-right:-6px;background:#cf0000;color:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
#rightarea .empty_jc {margin-top:100px;}
#rightarea .empty_jc a {display:block;width:200px;height:50px;line-height:50px;color:#333;margin:0 auto 20px;text-align:center;font-weight:bolder;font-size:16px;border:1px solid #cfcfcf;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;
background-image: -moz-linear-gradient(top, #efefef, #d0d0d0); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #d0d0d0)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#d0d0d0', GradientType='0'); /* IE*/
text-shadow: 1px 1px 1px #fff;
}
#rightarea .empty_jc a:hover {background-image: -moz-linear-gradient(top, #e8e8e8, #d0d0d0); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), color-stop(1, #d0d0d0)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#d0d0d0', GradientType='0'); /* IE*/
text-decoration:none;
}
.zhibiao_msg {border:1px solid #ccc;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;padding:5px 0 10px;font-family: tahoma,arial,"宋体";}
.zhibiao_msg a.close {position:absolute;width:20px;height:20px;right:2px;top:3px;background:url(/images/login.png) no-repeat -3px -45px;cursor:pointer;}
.zhibiao_msg h3 {height:20px;line-height:20px;padding:0 20px;}

.log_tab .log_tabh {float:left;border-top:1px solid #808080;}
.log_tab .log_tabh li {height:26px;line-height:26px;width:170px;padding:0 10px 0 20px;border-bottom:1px solid #808080;cursor:pointer;}
.log_tab .log_tabh li:hover {background:#FFF0B5;}
.log_tab .log_tabh li.current {background:#333;color:#fff;}

.log_tab .log_tabb {margin-left:200px;border-top:1px solid #808080;border-left:1px solid #808080;border-bottom:1px solid #808080;background:#fff;}
.log_tab .log_tabb li {height:0;overflow:hidden;}
.log_tab .log_tabb li.current {min-height:296px;height:auto;}
.log_tab .wrong_data {float:left;margin-left:-1px;width:150px; height:86px;background:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#808080;}
.log_tab .wrong_data h5 {height:16px;line-height:16px;font-weight:normal;text-align:center;}
.log_tab .wrong_data div {height:70px;}
.log_tab .wrong_data .highcharts-axis {display:none;}
.log_tab .log_loading {margin-top:150px;text-align:center;}
.wrong_tit {float:left;width:200px;height:26px;line-height:26px;font-weight:bolder;text-align:center;}
.wrong_con {margin-left:200px;height:26px;line-height:26px;font-weight:bolder;text-align:center;}
.zhibiao_msg a.new_tab {float:right;width:100px;margin-right:30px;background:none;}

#top td .up {display:inline-block;height:19px;width:19px;margin-right:10px;vertical-align:middle;background:url(/images/jud.png) no-repeat;}
#top td .down {display:inline-block;height:19px;width:19px;margin-right:10px;vertical-align:middle;background:url(/images/jud.png) no-repeat 0 -27px;}


